
  .header-imag{
  width: 30%;
  padding-top: 200px;
  padding-left: 45px;
  display: flex;
}

 .background-img{
  background-color: #ed9600;
  background-image: url("/images/asfalt-light.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /*height: 520px;*/
  justify-content: center;
  align-items: center;
  /*width: 100%;*/
  text-align: center;
  color:  #FFFFFF;
  width: 300px;
  height: 300px;
  margin-left: 35px;
  
 }
 #img{
  width: 200px;
  margin-top: 60px;
}

#header-tweets {
  display: flex;
}
 header div h2{
  margin-top: -25px;
 }

 @media screen and (max-width: 768px) {
  .header-imag{
    width: 100%;
    padding-top: 0;
padding-left: 0;
    display: flex;
  

  }
  .background-img {
    width: 100%;
    margin-top: 120px;
    margin-left: 0;
  }
  #img {
    width: 200px;

  }
 

  #header-tweets {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

 }







