nav{
  font-family: 'Bungee', cursive;
  height: 120px;
  background-color: #4056a1;
  color: #FFFFFF;
  padding-left: 1.5em;  
  padding-right: 1.5em;
  position: fixed;
  width: 100%;
  
 
  
}
.first-list{
  padding-top: 50px;
  font-size: xx-large;
 
}
nav ul{
  list-style: none; /* Remove bullets from the list. */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 8px;
  margin-top: 0;
  
 }
 
 .second-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-size: large;
  justify-content: center;
  align-items: center;
  min-width: none;

  
 
  
  
 }


.fa-angle-double-down{
  color: red;
  /*padding-left: 75px;*/
 
}