article {
  height: auto;
  border-style: solid;
  margin-top: 50px;
  margin-bottom: 50px;
  border-color: rgb(24, 23, 23);
  
}

article span {
  float: right;
  margin-top: 38px;
  margin-left: 10px;
}

article p {
  font-weight: bold;
  width: 98%;
  margin: auto;
  margin-top: 35px;
  background-color: #f4f1ec;
  box-sizing: border-box;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-style: solid;
  border-bottom-color: rgb(24, 23, 23);
  border-bottom-width: medium;

}

.tweet:hover {/*class for hover*/
  box-shadow: 7px 7px gray;

}


.fa-solid:hover {
  color: #ed9600;
}

.tweet header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0px;
}

.tweet img {
  width: 80px;
  margin-left: 15px;
  margin-top: 15px;
}

#user {
  margin-right: 20px;
  margin-top: 0px;
}

#date {
  margin-top: 10px;
  margin-left: 12px;
  font-weight: bold;
}

footer {
  font-size: small;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  margin-right: 10px;
  justify-content: flex-end;
}